.card {
  height: 15rem;
  width: 15rem;
  box-shadow: 0px 3px 6px #00000029;
  border-radius: 5px;
  margin: 2rem;
  background: #fbfcfc;
  transition: 0.3s all;
  padding: 1rem;
  text-align: center;
}
.card__title {
  font-size: 1.4rem;
  text-align: center;
}
.card__tagline {
  text-align: center;
  font-size: 1.1rem;
}
.card__description {
  font-size: 1rem;
  margin: 8px;
}
.card > img {
  height: 7rem;
  width: 7rem;
  object-fit: contain;
  margin-top: 1rem;
}
.card:hover {
  transform: translateY(-0.5rem);
  cursor: pointer;
}
