.stockfinder {
  display: flex;
  flex-direction: column;
}
.stockfinder__locale-text {
  color: #f2f2f2;
  font-size: 1.2rem;
  font-weight: bold;
}
.stockfinder__body {
  padding: 0rem 1.5rem;
}
.stockfinder__title_bar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: #f2f2f2;
  height: 3.8rem;
  padding: 5px;
}
.stockfinder__title_bar-left {
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.stockfinder__title_bar-lefttxt {
  font-size: 2.2rem;
  line-height: 2.2rem;
  font-weight: 500;
  color: #000;
}
.stockfinder__title_bar-leftclose {
  font-size: 2.5rem;
  color: #2874a6;
}
.stockfinder__positive_close {
  font-size: 1.6rem;
  color: #33cc00;
}
.stockfinder__negative_close {
  font-size: 1.6rem;
  color: #de32ae;
}
.stockfinder__title_bar-right {
  margin: auto 2.2rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
.stockfinder__searchbox-container {
  z-index: 100;
}
.stockfinder__title_bar-righttxt {
  font-size: 1.4rem;
  font-weight: 500;
  margin: auto 1rem;
  color: #2874a6;
}
.stockfinder__menu_bar {
  height: 3.5rem;
  width: 100%;
  background: #f2f2f2;
}
.stockfinder__menu-items {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  line-height: 3rem;
  padding: 0.4rem;
}
.stockfinder__menu-items-text {
  font-size: 1.3rem;
  color: #2874a6;
  height: 80%;
  width: 12rem;
  cursor: pointer;
  text-align: center;
  font-weight: 600;
}
.stockfinder__menu-active {
  background: #fbfcfc;
  color: #000;
  text-decoration: underline;
  font-size: 1.4rem;
}
.stockfinder__peers {
  padding: 1.5rem;
  border-radius: 5px;
  box-shadow: 0px 1px 7px 0px #c4c4c4;
  margin-top: 2.5rem;
  margin-bottom: 2.5rem;
}
.stockfinder__peers-heading {
  font-size: 2.2rem;
  color: #5b2c6f;
  margin: 1rem;
}
.stockfinder__peers-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 3rem;
  line-height: 3rem;
  background: #f2f2f2;
  box-sizing: border-box;
  padding: 2rem;
  border: 1px solid #ddd;
  cursor: pointer;
}
.stockfinder__peers-row:hover {
  background-color: #ddd;
}
.stockfinder__peers-rowtext {
  flex: 25%;
  font-size: 1.4rem;
}
