.landing {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  box-sizing: border-box;
}
.landing__banner {
  height: 55rem;
  box-sizing: border-box;
  z-index: -2;
  object-fit: contain;
}
.landing__banner > img {
  width: 100%;
  height: 100%;
  opacity: 0.85;
}
.landing__heading {
  margin-top: 1rem;
  color: #2874a6;
  margin-bottom: 2rem;
  font-size: 10rem;
  font-weight: 600;
  text-align: center;
}
.landing__header-title {
  font-size: 2.4rem;
  color: #fff;
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  line-height: 2.8rem;
  letter-spacing: 0.3px;
}
/* .landing__body {
  padding: 1rem;
} */
.landing__card-container {
  display: flex;
  justify-content: space-around;
}
.landing__indices {
  display: flex;
  flex-direction: column;
  padding: 1rem;
}
.landing__indices-heading {
  text-align: center;
  font-size: 1.6rem;

  margin-bottom: 1rem;
  color: #5b2c6f;
}
.landing__indices_list {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 2rem;
}
.landing__indices_list-item {
  height: 3rem;
  width: 10rem;
  border-radius: 4px;
  outline: none;
  border: none;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}
.landing__indices_list-text {
  font-size: 1.2rem;
  color: #fff;
}
.active-index {
  background: #ff9923;
}
.inactive-index {
  background: #a569bd;
}
.inactive-index:hover {
  background: #8e44ad;
}
